<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href = "css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
             
    <title>Movie or TV Show?</title>
    
  </head>
  
  <body id= "filmroll">
    <h1 id = "fontsize"><center>Movie or TV Show?</center></h1>
    <center><form action="./movies">
                 <input class = "btn" type="submit" value="Movies">
    </form> 
      <form action="./tv">
                 <input class = "btn" type="submit" value="TV Shows">
    </form>
    
  </body>
    
    </html>
      
      
