<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href = "css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
             
    <title>What should you watch next?</title>
    
  </head>
  
  <body id="home">
    <h1><center> What should you watch next? <center></h1>
        
       
      <form method="POST" action="/choice">
        <center> <fieldset>
      <legend>Personal Information</legend>
      <p><label class = "field" for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Name"></p>
     <p><label class = "field" for="name">Age</label>
       <input id="age" name="age" type="text" placeholder="Age"></p>
      <input type="submit" name="btnSubmit" style="width:200px"; font-family="Questrial"; font-size = "40px"; height:"200px"; value="Submit" />
        </fieldset> </center>
    </form>

  </body>
    
    </html>