<html>
  <head>
    <title>TV</title>
  </head>
   <link type="text/css" rel="stylesheet" href = "css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <body>
      <h1> <center>Choose a genre:</center></h1>
    
            <center><form action="/tv" method = "post">
                <input name = "genre" class = "button2" type="checkbox" value="action">
             <label class="button2">Action</label> 
                <input name = "genre" class = "button2" type="checkbox" value="comedy">
             <label class="button2">Comedy</label> 
                <input name = "genre" class = "button2" type="checkbox" value="drama">
             <label class="button2">Drama</label> 
                <input name = "genre" class = "button2" type="checkbox" value="kids&family">
             <label class="button2">Kids & Family</label> 
                <input name = "genre" class = "button2" type="checkbox" value="sci_fi"> 
             <label class="button2">Sci Fi</label> 
             </center>
           
             <h2> <center>How much TV do you watch a day, on average?</center> </h2>
           <center>
                <input name = "amount" class = "button2" type="checkbox" value="less_one">
             <label class="button2">Less than one hour</label> 
                <input name = "amount" class = "button2" type="checkbox" value="more_one">
             <label class="button2">1+ hours</label> 
             </center>
             
             <h3> <center> What rating would you like your TV show to have? </center> </h3>
             <center>
                <input name = "rating" class = "button2" type="checkbox" value="tv_g">
               <label class="button2">TV-G</label> 
                <input name = "rating" class = "button2" type="checkbox" value="tv_pg">
               <label class="button2">TV-PG</label> 
               <input name = "rating" class = "button2" type="checkbox" value="tv_14">
               <label class="button2">TV-14</label> 
               <input name = "rating" class = "button2" type="checkbox" value="tv_ma">
               <label class="button2">TV-MA</label> 
             </center>
            
                <h4> <center> Male or female feature? </center> </h4>
             <center>
                <input name = "gender" class = "button2" type="checkbox" value="male">
               <label class="button2">Male</label> 
                <input name = "gender" class = "button2" type="checkbox" value="female">
               <label class="button2">Female</label> 
             </center>
      
            
            
             <form action="./endpage">
               <input align="right" class = "button2" type="submit" value="Submit">
               
         
         
     
    
  </body>
</html>